.contenido {
  margin-left: 245px;

  min-height: 100vh;

  padding: 20px;

  background: #f5f6fa;

  transition: margin-left 0.25s ease;

  box-sizing: border-box;
}


.contenido.sidebar-colapsado {
  margin-left: 87px;
}