.contenido {
  margin-left: 230px;

  padding: 96px 24px 24px 24px;

  min-height: 100vh;

  background: #f7f8fc;

  box-sizing: border-box;

  transition: margin-left 0.25s ease;
}


.contenido.sidebar-colapsado {
  margin-left: 70px;
}