<header class="topbar">

  <div class="topbar-left">

    <button
      class="menu-button"
      type="button"
      (click)="cambiarSidebar()">

      <i class="bi bi-list"></i>

    </button>

    <div class="logo">
      <i class="bi bi-heart-pulse-fill"></i>
      <span>CITAS MÉDICAS</span>
    </div>

  </div>

  <div class="usuario">

    <div class="avatar">
      <i class="bi bi-person-fill"></i>
    </div>

    <span>Usuario</span>

    <i class="bi bi-chevron-down"></i>

  </div>

</header>