<header
  class="header"
  [class.sidebar-colapsado]="sidebarColapsado">

  <!-- IZQUIERDA -->
  <div class="header-left">

    <div class="header-logo">
      <div class="logo-icon">
        CM
      </div>

      <span class="logo-text">
        Citas Médicas
      </span>
    </div>

  </div>


  <!-- CENTRO -->
  <div class="header-center">

    <div class="search-box">

      <i class="bi bi-search"></i>

      <input
        type="text"
        placeholder="Buscar">

    </div>

  </div>


  <!-- DERECHA -->
  <div class="header-right">

    <button
      type="button"
      class="header-icon">

      <i class="bi bi-sun"></i>

    </button>


    <button
      type="button"
      class="header-icon notification-button">

      <i class="bi bi-bell"></i>

      <span class="notification-dot"></span>

    </button>


    <button
      type="button"
      class="user-button">

      <div class="avatar">
        LA
      </div>

      <div class="user-info">
        <strong>Usuario</strong>
        <span>Administrador</span>
      </div>

      <i class="bi bi-chevron-down user-arrow"></i>

    </button>

  </div>

</header>